@using TheMuscleBar.AppCode.Enums
@model Response<TheMuscleBar.Models.ViewModel.TransactionViewModel>
@{
    Layout = null;
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            @if (Model.StatusCode==ResponseStatus.Success)
            {
                <span class="h4 text-info d-block">@Model.Result.DisplayName</span>
                <img src="@Model.Result.QR" class="img-fluid" />
                <span class="text-success h1" id="JsTimer">05:00</span>
                <a class="btn btn-block btn-primary mt-2" href="@Model.Result.UPIUrl">UPI Payment</a>
            }
            else
            {
                <span class="h4 text-danger text-monospace">@Model.ResponseText</span>
            }
        </div>
    </div>
</div>

<script src="~/theme/js/jquery.min.js"></script>
<script src="~/js/timer.js"></script>
<script>
    var redirectTo = '@Model.Result.WebhookURL';
    redirectTo = redirectTo.replaceAll("&amp;", "&");
    var statusCheck = () => {
        let tid = 0;
        let paths = window.location.pathname.split('/');
        if (paths.length > 1) tid = paths[2];
        $.post('/Transaction/StatusCheck', { TID: tid }).done(result => {
            console.log(result);
            if(result.statusCode==1){
                let payerDetailStr = ''
                if (result.result.payerDetailStr != '') {
                    payerDetailStr = "&" + result.result.payerDetailStr;
                }
                let __redirection = redirectTo.replaceAll("&amp;", "&").replace("pending", result.responseText).replace("[UTR]", result.utr);
                __redirection += payerDetailStr;
                window.location.href = __redirection;
            }
            else if(result.statusCode!==1){
                setTimeout(function(){
                    statusCheck()
                },15*1000)
            }
        }).fail(xhr => {
            console.log(xhr.responseText);
        })
    }
    (() => {
        var timer = new ShowJsTimer(JsTimer, 5);
        timer.startTimer(() => window.location.href = redirectTo);
        let t = 0;
        setTimeout(function(){
            statusCheck();
        },5*1000);
    })();

</script>
