@model IEnumerable<TheMuscleBar.AppCode.Reops.Entities.UPISetting>
<link href="~/css/merchant.css" rel="stylesheet" />
@if (Model.Any())
{
    <div class="row">
        <div class="col-sm-10">
            <h4 class="h4 mb-3 mt-3"> Merchant Setting</h4>
        </div>
        <div class="col-sm-2">
            <button id="btnNew" class="btn btn-sm btn-primary float-right">Configure New Number</button>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="card mt-2">
            <div class="row p-4">
                <div class="col-md-3">
                    <a class="header-mobile" href="index.html">
                        <img class="logoimg" src="/images/shop-sm.png">
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>@item.DisplayName</h5>
                            <h6 class="mb-2 text-muted">Merchant Company</h6>
                        </div>
                        <div class="col-md-5">
                            <h5 class="mobileNo">@item.Mobile</h5>
                            <h6 class="mb-2 text-muted">Mobile No</h6>
                        </div>
                        <div class="col-md-3">
                            <h5>@item.QrId</h5>
                            <h6 class="mb-2 text-muted">UPI Id</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mt-5">
                            <h5>@item.MerchantId</h5>
                            <h6 class="mb-2 text-muted">Merchant Id</h6>
                        </div>
                        <div class="col-md-5 mt-5">
                            <h5>@item.StoreId</h5>
                            <h6 class=" mb-2 text-muted">Store Id</h6>
                        </div>
                        @if (item.IsLoggedOut)
                        {
                            <div class="col-md-3 mt-5">
                                <button type="button" class="btn btn-danger btn-sm btnLogin">Log in</button>
                                <h6 class="mb-2 text-muted">Your merchant account has been Logout.Please login again.</h6>
                            </div>
                        }
                    </div>

                    <div class="custom-control custom-switch" style="margin-top:20px;">
                        @*<input type="checkbox" class="custom-control-input" id="" />
                <label class="custom-control-label" for="IsLive">If Your Merchant Account Did not Support "Pay Via Link" feature,Please turn off this setting.</label>*@
                    </div>
                    <hr>
                    <div class="col-md-12 ">
                        <small><b>Note:</b>Don't Login the PhonePe Bussiness App with same account. </small><br />
                        <small class="mb-2 text-muted">For Support Call us on 9170236763</small>
                    </div>

                </div>
            </div>
        </div>
    }
}
else
{
    <div class="card mt-2">
        <div class="card-body">
            <div class="section-heading center-holder company-profile pt-100">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8 col-xs-12">
                        <h2>Make Successful Business</h2>
                    </div>
                    <div class="col-sm-2"><button id="btnNew" class="btn btn-sm btn-primary">Configure New Number</button></div>
                </div>
                <div class="section-heading-line"></div>
                <p class="mb-0">
                    Our skilled experts provide full-cycle custom financial software development<br>
                    to fit your business domain and budget requirements while leveraging leading-edge technologies.
                </p>
                <a href="https://play.google.com/store/apps/details?id=com.phonepe.app.business&hl=en_IN&gl=US" download="phonepe.apk" class="btn btn-download mt-3 profile-download">Download Phonepe Business App</a>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 grid-margin stretch-card">
                    <div class="ct-process-item process-1">
                        <div class="ct-process-icon">
                            <number>1</number>
                            <span></span>
                            <img src="/images/steps/1.png" />
                        </div>
                        <h4 class="ct-process-title mb-1">Signup</h4>
                        <div class="ct-process-desc" style="">Signup PhonePe Business APP</div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 grid-margin stretch-card">
                    <div class="ct-process-item process-1">
                        <div class="ct-process-icon">
                            <number>2</number>
                            <span></span>
                            <img src="/images/steps/2.png" />
                        </div>
                        <h4 class="ct-process-title mb-1">Create Account</h4>
                        <div class="ct-process-desc" style="">Create Supervisor Account</div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 grid-margin stretch-card">
                    <div class="ct-process-item process-1">
                        <div class="ct-process-icon">
                            <number>3</number>
                            <span></span>
                            <img src="/images/steps/3.png" />
                        </div>
                        <h4 class="ct-process-title mb-1">Configuration</h4>
                        <div class="ct-process-desc text-nowrap">
                            Configure Your Supervisor Account in All UPI
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 grid-margin stretch-card">
                    <div class="ct-process-item process-1">
                        <div class="ct-process-icon">
                            <number>4</number>
                            <span></span>
                            <img src="/images/steps/4.png" />
                        </div>
                        <h4 class="ct-process-title mb-1">Let's Start</h4>
                        <div class="ct-process-desc" style="">Start Your Transaction</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $('#btnNew').click(e => _configurationWin());
    $('.btnLogin').click(e => {
        let __m = $(e.currentTarget).parents('.card').find('.mobileNo').text();
        _configurationWin(__m);
    })
</script>