@model List<TheMuscleBar.AppCode.Reops.Entities.Package>

@{
    int sr = 0;
    foreach (var item in Model)
    {
        sr++;
        <tr data-Package-Id="@item.PackageId">
            <td>@sr</td>
    
            <td class="btnedit btn-link">@item.PackageName</td>
            <td>@item.Validity</td>
            <td>@item.HitCount</td>
            <td><i class="fa fa-rupee-sign"></i>@item.Cost</td>
            <td>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input IsActive  " id="IsActive_@sr" @(item.IsActive ? "checked='checked'" : "") />
                    <label class="custom-control-label" for="IsActive_@sr"></label>
                </div>

            </td>
        </tr>
    }
}
<style>
    .action{
        color: black!important;
    }
</style>
<script>
    $('.btnedit').unbind().click(e => packageDialog($(e.currentTarget).closest('tr').data().packageId));
     $('.IsActive').click(e => {
        let element = $(e.currentTarget).closest('tr');
        let param = {
            packageId: element.data().packageId
        };
        $.post('/Package/ChangeActiveStatus', param)
            .done(result => {
                Q.notify(result.statusCode, result.responseText);
            }).always(() => { });
    })
</script>