@using Newtonsoft.Json.Linq;
@model IEnumerable<CallBackHitLog>
@if (Model.Any())
{
    int i = 0;
    foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@item.RequestedId</td>
            <td>@item.EntryOn</td>
            <td class=" max-width-25">
                <div class="box">
                    <input type="checkbox" id="expandedR_@i">
                    <p class="mb-0 truncated">@item.Request</p>
                    <span class="pull-right ml-2" onclick="jsonBeautifier(this)"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <span class="pull-right ml-2" onclick="copyToClipboard(this)" style="cursor:pointer;color:#2262c6"><i class="fas fa-clone" aria-hidden="true"></i></span>
                    <label class="pull-right btn-link" for="expandedR_@i" role="button">read more</label>
                </div>
            </td>
            <td class="max-width-25">@item.Response</td>
            <td>
                @if (@item.HookType == 'S')
                {
                    <span>Server Hook</span>
                }else{
                    <span>Web Hook</span>
                }
               </td>
        </tr>
    }
}
else
{
    <tr class="text-center">
        <td colspan="6">No Data Found</td>
    </tr>
}