@model TheMuscleBar.AppCode.Reops.Entities.Invoice

<h1>Ledger</h1>
<h4>Name : @Model.UserName</h4>
<h4>Mobile : @Model.PhoneNumber</h4>
<h4>TransactionId : @Model.TransactionId</h4>
<h4>TransactionType : @Model.TransactionType</h4>
<h4>PaymentMode : @Model.PaymentMode</h4>
<h4>Date : @Model.EntryOn</h4>