@model List<TheMuscleBar.AppCode.Reops.Entities.TransactionReport>
@if (Model.Any())
{
    int i = 0;
    foreach (var item in Model)
    {
        var sts = "Pending";
        var stsClass = "badge-warning";
        switch (item.Status)
        {
            case "P":
                sts = "Pending";
                stsClass = "badge-warning";
                break;
            case "S":
                sts = "Success";
                stsClass = "badge-success";
                break;
            case "F":
                sts = "Failed";
                stsClass = "badge-danger";
                break;
        }
        i++;
        <tr data-tr-id=@item.TransactionId>
            <td>@i</td>
            <td>
                <span class="fa fa-info-circle text-info a_modal" style="cursor:pointer" onclick="transactionDialog(@item.TransactionId)"></span>
                @item.TransactionId
            </td>
            <td>@item.RequestedId</td>
            <td>@item.Amount</td>
            <td>@item.EntryBy</td>
            <td>@item.qrId</td>
            <td>@item.EntryOn</td>
            <td>@item.UTR</td>
            <td>@item.ModifyOn</td>
            <td><span class="@stsClass badge p-1">@sts</span></td>
            <td>@item.Remark</td>
        </tr>
    }
}
<script>
    var transactionDialog = function (TID) {
        $.post('GetTransactionReqRes', { TID: TID })
            .done(result => {
                Q.alert({
                    title: 'Transaction Detail',
                    body: result,
                    width: '900px'
                });
            }).fail(xhr => Q.renderError(xhr)).always(() => Q.preloader.remove());
    };
</script>

