@model IEnumerable<TheMuscleBar.AppCode.Reops.Entities.TransactionReport>
<style>
    table.table td, table.table th {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .h3{
        font-size: 16px;
    }

    #myChart {
        height:300px!important;
    }

    #c {
        max-height: 372px !important;
    }

    canvas{
        width:100%!important;
        height:auto!important;
        object-fit: contain!important;
    }

    .h-539 {
        height: 539px!important
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card overflow-hidden mt-4">
            <div class="card-header">
                <h3 class="h3">Recent Activity</h3>
                <div class="ms-auto">
                    <div class="dropdown">
                        <a class="btn btn-sm btn-outline-primary btn-icon-text" href="/Report/Transaction">View All Transactions</a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 pb-0">
                <div style="overflow-y:auto; height:255px;">
                    <table class="table table-hover table-vcenter table table-bordered" id="RecAct">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center" style="width: 5%">#</th>
                                <th style="width:20%;" class="text-nowrap">Request Id</th>
                                <th style="width:20%;">Amount</th>
                                <th style="width:10%;">Status</th>
                                <th style="width:30%;">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                int i = 0;
                                foreach (var item in Model)

                                {
                                    var sts = "Pending";
                                    var stsClass = "badge-warning";
                                    switch (item.Status)
                                    {
                                        case "P":
                                            sts = "Pending";
                                            stsClass = "badge-warning";
                                            break;
                                        case "S":
                                            sts = "Success";
                                            stsClass = "badge-success";
                                            break;
                                        case "F":
                                            sts = "Failed";
                                            stsClass = "badge-danger";
                                            break;
                                    }
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.RequestedId</td>
                                        <td>@item.Amount</td>
                                        <td><span class="@stsClass badge p-1">@sts</span></td>
                                        <td>@item.EntryOn</td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        <h4 class="text-danger">No Data Found!!!</h4>
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>

               
            </div>
        </div>
    </div>
</div>
